.litob-editor-icon {
  display: flex;
  flex-wrap: wrap;
}

.litob-editor-icon-item {
  display: grid;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  place-items: center;
  border-radius: 0.25rem;
}

.litob-editor-icon-item:hover {
  color: var(--wp--preset--color--primary, --litob-primary);
}

.litob-editor-icon-item.current {
  background-color: var(--wp--preset--color--bg-base, var(--litob-bg-base));
}

.litob-inner-blocks .block-editor-block-list__layout > * {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

/* Datetimeコンポーネントのスタイル修正 */
.litob-components-panel-body .components-base-control,
.litob-components-panel-body .components-base-control:last-child {
  margin-bottom: 0;
}

.litob-components-panel-body .components-datetime__date .components-heading {
  margin-bottom: 0;
  font-size: 0.6875rem !important;
}

.litob-limited-time-panel-body .litob-components-button {
  margin-top: 1rem;
}
