.litob-inner-blocks {
  display: grid;
  gap: 1rem;

  & > * {
    margin: 0;
  }
}

.components-button.block-editor-block-types-list__item[class*="editor-block-list-item-lito-"] .dashicon {
  color: var(--lito-primary);
}

[id*="-lito/"] .dashicon {
  color: var(--lito-primary);
}
