body {
  --humib-bg-base: var(--wp--preset--color--bg-base, #f1f1f5);
  --humib-font-size-base: var(--wp--preset--color--text-base, #222226);
  --humib-font-size-light: var(--wp--preset--color--text-light, #77777d);
  --humib-font-size-extra-light: var(--wp--preset--color--text-extra-light, #ccccd2);
  --humib-font-size-sm: 0.875rem;
  --humib-font-size-xs: 0.75rem;
  --humib-border-base: #e4e4e8;
  --humib-box-radius: 0.5rem;
  --humib-box-padding: 1rem;
  --humib-primary: #fe4a49;
  --humib-secondary: #009fb7;
  --humib-info: var(--wp--custom--color--info, #0ea5e9);
  --humib-success: var(--wp--custom--color--sucess, #22c55e);
  --humib-warning: var(--wp--custom--color--warning, #f59e0b);
  --humib-danger: var(--wp--custom--color--danger, #ef4444);
}

.humib-inner-blocks {
  display: grid;
  gap: 1rem;

  & > * {
    margin: 0;
  }
}

.components-button.block-editor-block-types-list__item[class*="editor-block-list-item-humi-"]
  .dashicon {
  color: var(--humib-primary);
}

[id*="-humi/"] .dashicon {
  color: var(--humib-primary);
}
