body {
  --lito-bg-body: var(--wp--preset--color--bg-body, #fff);
  --lito-bg-base: var(--wp--preset--color--bg-base, rgb(0 0 51 / 6%));
  --lito-text-deep: var(--wp--preset--color--text-deep, rgb(0 0 3 / 91%));
  --lito-text-base: var(--wp--preset--color--text-base, rgb(0 0 5 / 87%));
  --lito-text-light: var(--wp--preset--color--text-light, rgb(0 0 11 / 53%));
  --lito-text-extra-light: var(--wp--preset--color--text-extra-light, rgb(0 0 30 / 20%));
  --lito-border-base: var(--wp--preset--color--border-base, rgb(0 0 38 11%));
  --lito-border-deep: var(--wp--preset--color--border-deep, rgb(0 0 30 / 20%));
  --lito-font-size-sm: var(--wp--preset--font-size-sm, 0.875rem);
  --lito-font-size-xs: var(--wp--preset--font-size-xs, 0.75rem);
  --lito-primary: var(--wp--preset--color--primary, #fe4a49);
  --lito-link: var(--lito-primary);
  --lito-info: var(--wp--custom--color--info, #0ea5e9);
  --lito-info-bg: var(--wp--custom--color--info-bg, rgb(0 153 255 / 6%));
  --lito-success: var(--wp--custom--color--success, #22c55e);
  --lito-success-bg: var(--wp--custom--color--success-bg, rgb(0 221 68 / 6%));
  --lito-warning: var(--wp--custom--color--warning, #f59e0b);
  --lito-warning-bg: var(--wp--custom--color--warning-bg, rgb(255 204 0 / 8%));
  --lito-danger: var(--wp--custom--color--danger, #ef4444);
  --lito-danger-bg: var(--wp--custom--color--danger-bg, rgb(235 0 0 / 5%));
  --lito-radius-sm: var(--wp--custom--radius-sm, clamp(0.25rem, 0.2137rem + 0.1613vw, 0.375rem));
  --lito-radius-md: var(--wp--custom--radius-md, clamp(0.5rem, 0.309rem + 0.566vw, 0.8125rem));
  --lito-spacing-box: var(--wp--preset--spacing-box, clamp(1.25rem, 1.1226rem + 0.3774vw, 1.5rem));
}
/* lito-blocks */
