/* .wp-block-lito-faq-item {
  & + & {
    margin-top: 2rem;
  }
} */

.wp-block-lito-faq-row {
  display: flex;
  gap: 1rem;
}

.wp-block-lito-faq-a {
  margin-top: 1rem;
}

.wp-block-lito-faq-label {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  font-size: var(--litob-font-size-sm);
  font-weight: 600;
  line-height: 1;
  text-align: center;
  border-radius: 9999px;
}

.wp-block-lito-faq-q {
  & > .wp-block-lito-faq-label {
    color: white;
    background-color: var(--litob-primary);
  }

  & > p {
    margin: 0;
    flex-grow: 1;
  }
}

.wp-block-lito-faq-a {
  & .wp-block-lito-faq-label {
    background-color: var(--litob-bg-base);
  }
}

.wp-block-lito-faq-content-q {
}
