.wp-block-humi-toc {
  padding: 1.5rem;
  border-radius: var(--humib-box-radius);
  background-color: var(--humib-bg-base);

  &:empty {
    display: none;
  }
}

.wp-block-humi-toc-title {
  display: inline-block;
  padding-bottom: 0.25rem;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.wp-block-humi-toc-list {
  display: block;
  font-size: var(--humib-font-size-sm);
  list-style-position: inside;
  padding-left: 0;
  margin: 0;

  & > * + * {
    border-top: 1px dashed white;
  }
}

.wp-block-humi-toc-item {
  margin-left: 0 !important;
  font-size: var(--su-font-size-xs);
  list-style: none !important;

  @media (--sm) {
    font-size: var(--su-fonnt-size-sm);
  }
}

.wp-block-humi-toc-a {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  color: inherit;
  transition: 0.2s;

  &:hover {
    text-decoration: none;
  }
}

.wp-block-humi-toc-a > .wp-block-humi-toc-number {
  flex-shrink: 0;
  color: var(--su-text-light);
  text-align: center;
}

.wp-block-humi-toc-number {
  flex-shrink: 0;
  margin-right: 0.5rem;
}

.wp-block-humi-toc-h2 {
  font-weight: 600;
}

.wp-block-humi-toc-h2 > .wp-block-humi-toc-number {
  min-width: 1.25rem;
}

.wp-block-humi-toc-h3 {
  margin-left: 1.5rem;
}

.wp-block-humi-toc-h3 > .wp-block-humi-toc-number {
  min-width: 2rem;
}
