.wp-block-lito-gist {
  & .block-editor-block-list__layout {
    padding-bottom: 4rem;
    position: relative;
  }

  & .block-list-appender {
    position: absolute;
    left: -1rem;
    bottom: 0rem;
  }
}

.litob-add-button {
  padding: 1rem;
  appearance: none;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: transparent;
}
