.wp-block-humi-gist {
  position: relative;
  padding-top: 1rem;

  & .wp-block-humi-marker-text .humib-icon {
    color: var(--humib-marker-text-color, var(--humib-gist-color, var(--wp--custom--color--info)));
  }

  & .humib-inner-blocks {
    background-color: var(--humib-bg-base);
    border-radius: var(--humib-box-radius);
    padding: var(--humib-box-padding);
    padding-top: 2rem;
  }
}

.wp-block-humi-gist-label {
  position: absolute;
  top: 0;
  left: 1rem;
  padding: 0.375rem 1rem;
  font-size: var(--wp--preset--font-size--small, var(--humib-font-size-sm));
  color: white;
  background-color: var(--humib-gist-color, var(--wp--custom--color--info));
  border-radius: 999px;

  & + .gist-list {
    padding-top: 2rem;
  }
}
