.gist {
  position: relative;
  padding-top: 1rem;

  & .marker-text-icon {
    color: var(--su-marker-color, var(--gist-color, '#4b5563'));
  }
}

.gist-label {
  position: absolute;
  top: 0;
  left: 1rem;
  padding: 0.5rem 1rem;
  font-size: var(--su-font-size-sm);
  line-height: 1.5;
  color: white;
  background-color: var(--gist-color);
  border-radius: 9999px;

  & + .gist-list {
    padding-top: 2rem;
  }
}

.gist-list {
  line-height: 1.5;
  list-style: none;
  background-color: var(--su-bg-extra-light);
  border-radius: 0.625rem;

  & .marker-text + .marker-text {
    margin-top: 0.5rem;
  }
}
