.wp-block-lito-gist {
  position: relative;
  padding-top: 1rem;

  & .wp-block-lito-marker-text .litob-icon {
    color: var(--lito-marker-text-color, var(--lito-gist-color, var(--lito-info)));
  }

  & .litob-inner-blocks {
    background-color: var(--lito-bg-base);
    border-radius: var(--lito-radius-md);
    padding: var(--lito-spacing-box);
    padding-top: 2rem;
  }
}

.wp-block-lito-gist-label {
  position: absolute;
  top: 0;
  left: 1rem;
  padding: 0.375rem 1rem;
  font-size: var(--lito-font-size-sm);
  color: white;
  background-color: var(--lito-gist-color, var(--lito-info));
  border-radius: 999px;

  & + .gist-list {
    padding-top: 2rem;
  }
}
