.wp-block-lito-mode-switch {
  line-height: 1;
}

.mode-switch-btn {
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  display: grid;
  place-items: center;
  color: var(--lito-text-base);
}

.mode-switch-popover-wrapper > .mode-switch-popover {
  padding: 0.5rem 0;
  background-color: var(--lito-bg-body);

  .dark & {
    border: 1px solid var(--lito-border-base);
  }
}

.mode-switch-popover-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.375rem 1rem;
  font-size: var(--lito-font-size-sm);
  cursor: pointer;
  transition: 0.2s;
  color: var(--lito-text-base);

  & > span:first-child {
    color: var(--lito-text-light);
  }

  &:hover {
    background-color: var(--lito-bg-base);
  }
}

.mode-switch-list {
  font-size: 0.875rem;
}
