.wp-block-humi-talk-figure .image-button {
  display: block !important;
}

.wp-block-humi-talk-name .block-editor-plain-text {
  padding: 0.25rem;
}

.wp-block-humi-talk.is-style-right .wp-block-humi-talk-name .block-editor-plain-text {
  text-align: end;
}

@container (768px <= width) {
  .wp-block-humi-talk-name .block-editor-plain-text {
    text-align: center !important;
  }
}
