.wp-block-humi-talk {
  container-type: inline-size;
}

.wp-block-humi-talk-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem 1.5rem;
}

.wp-block-humi-talk-avatar {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  grid-area: avatar;
  gap: 0.25rem 1rem;
  align-items: center;
  border: none;
}

.wp-block-humi-talk-figure {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border: 4px solid var(--humib-border-base);
  border-radius: 999px;
}

.wp-block-humi-talk-figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wp-block-humi-talk-name {
  font-size: var(--humib-font-size-sm);
  word-break: break-all;
  line-height: 1.5;
}

.wp-block-humi-talk-comment {
  grid-area: comment;
  padding: 1.5rem 2rem;
  background-color: var(--humib-bg-base);
  border-radius: 1.25rem;
  border-top-left-radius: 0;

  & > p {
    margin: 0;
  }

  & > p + p {
    margin-top: 1rem;
  }
}

.wp-block-humi-talk.is-style-right {
  & .wp-block-humi-talk-inner {
    align-items: flex-end;
  }

  & .wp-block-humi-talk-avatar {
    flex-direction: row-reverse;
  }

  & .wp-block-humi-talk-comment {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 0;
  }
}

@container (768px <= width) {
  .wp-block-humi-talk-inner {
    flex-direction: row;
    align-items: flex-start;
  }

  :is(.wp-block-humi-talk, .wp-block-humi-talk.is-style-right) .wp-block-humi-talk-avatar {
    flex-direction: column;
    flex-basis: 4.5rem;
  }

  .wp-block-humi-talk-name {
    font-size: var(--humib-font-size-xs);
  }

  .wp-block-humi-talk.is-style-right {
    & .wp-block-humi-talk-inner {
      flex-direction: row-reverse;
      align-items: flex-start;
    }
  }
}
