.wp-block-lito-inline-svg {
  line-height: 1;
}

.wp-block-lito-inline-svg > a {
  display: inline-flex;
}

.wp-block-lito-inline-svg-item {
  line-height: 1;
}

.wp-block-lito-inline-svg.aligncenter {
  & > .wp-block-lito-inline-svg-item {
    margin-left: auto;
    margin-right: auto;
  }
}

