.wp-block-lito-alert {
  --litob-color: initial;
  container-type: inline-size;

  &.is-style-info {
    --litob-color: var(--wp--custom--color--info, #0ea5e9);
  }
  &.is-style-success {
    --litob-color: var(--wp--custom--color--success, #22c55e);
  }
  &.is-style-warning {
    --litob-color: var(--wp--custom--color--warning, #f59e0b);
  }
  &.is-style-danger {
    --litob-color: var(--wp--custom--color--danger, #ef4444);
  }
}

.wp-block-lito-alert-inner {
  display: grid;
  gap: 1rem;
  min-height: 4rem;
  padding: var(--litob-box-padding);
  border-radius: var(--litob-box-radius);
  border-left: 0.25rem solid var(--litob-color);
  background-color: var(--litob-bg-base);

  :where(.is-style-info, .is-style-success, .is-style-warning, .is-style-danger) > & {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  & > .litob-icon {
    color: var(--litob-color);
    width: 1.5rem;
    transform: translateY(0.25rem);
  }
}

@container (768px <= width) {
  .wp-block-lito-alert-inner {
    gap: 0.75rem;
    grid-template-columns: auto 1fr;
  }
}
