.wp-block-lito-limited-time {
}

.limited-time-metadata {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.limited-time-label {
  background-color: var(--lito-base-gray);
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
  font-size: var(--lito-font-size-sm);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  & > .material-symbols-outlined {
    font-size: 1.25rem;
  }
}

.limited-time-date {
  font-size: var(--lito-font-size-sm);
}

.wp-block-lito-limited-time:has(.limited-time-is-hidden):not(.is-selected, .has-child-selected) {
  opacity: 0.4;
}
