/* マーカーテキスト */
.wp-block-lito-marker-text {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.75rem;

  & .litob-icon {
    color: var(--litob-marker-text-color, var(--wp--custom--color--info));
    transform: translateY(0.3125rem);
  }
}
