/* マーカーテキスト */
.wp-block-humi-marker-text {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.75rem;

  & .humib-icon {
    color: var(--humib-marker-text-color, var(--wp--custom--color--info));
    transform: translateY(0.3125rem);
  }
}
